@import "fonts";


@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Corinthia:wght@400;700&family=Gwendolyn:wght@400;700&display=swap');

.ff-cori {
  font-family: 'Corinthia', cursive;
}
.ff-gwen {
  font-family: 'Gwendolyn', cursive;
}
.ff-roboto {
  font-family: 'Roboto', sans-serif;
}

// $dark: #05192d;
// $dark-hover: $blue-900;
$font-family-sans-serif: 'Studio-Feixen-Sans', Arial, sans-serif;
$body-bg: #f2f3f4;
$dark-blue: #20374f;