@import "init";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// scss-docs-start spacers
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 5),
    7: ($spacer * 7),
    8: ($spacer * 10),
    9: ($spacer * 13),
    10: ($spacer * 15)
  ),
  $spacers
);


/****************************************
    Gray - Color, Background, Border
*****************************************/

@each $color, $value in $grays {
  .bg-gray-#{$color} {
    background-color: $value !important;
  }
  a.bg-gray-#{$color},
  button.bg-gray-#{$color} {
    background-color: darken($value, 10%) !important;
  }
  .border-#{$color} {
    border-color: $value !important;
  }
  .text-#{$color} {
    color: $value !important;
  }
}


@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

/********************************
    Custom Selectors
********************************/
#page-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-tooltip + 10;
  background-color: $body-bg;

  display: flex;
  justify-content: center;
  justify-items: center;
}


%fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fixed-container {
  @extend %fixed-container;
  overflow: hidden;
}
.fixed-container-scroll {
  @extend %fixed-container;
  overflow-y: scroll;
}

html, body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  @extend %fixed-container;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
.mono {
  font-family: $font-family-monospace;
}
.sans {
  font-family: $font-family-sans-serif;
}
.text-pre {
  white-space: pre;
}
.fs-7 {
  font-size: .8125rem;
}
.fs-9 {
  font-size: 1.125rem;
}
.fs-10 {
  font-size: 1.5rem;
}
.rounded-4 {
  border-radius: .4rem;
}
.rounded-5 {
  border-radius: .5rem;
}

.btn-block {
  display: block;
  width: 100%;
}


/*** STYLES ***/


$gold-orange: #ffa35a;

$gold-satin: #c19a49;
$gold-camel: #BB9863;
$gold-sun: #F0BE72;
$gold-burly: #e0b985;
$gold-light: #cfb886;

$dark-01: #242423;

//$dark-blue: #2F3944;
//$db-01: #05192d;
//$db-02: #090C10;


header, section, main {
  padding: 3rem;
  display: flex;
  position: relative;
  color: $gold-satin;
}

.logo {
  background: url(../assets/img/logo.png) no-repeat center 20px;
  background-size: 100px;
  padding-top: 120px;
}

.box {
  border: 1px dashed $gray-400;
  color: $gray-700;
  background-color: #fafbfc;
}

.text-gold-satin {
  color: $gold-satin;
}



h1, h2, h3, h4, h5 {
  // font-family: 'Arsenica', Arial, sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
  white-space: nowrap;
  color: $gray-800;
}

h2 {
  font-size: 3.5rem;
}

video {
  object-fit: cover;
  max-width: 100%;
  opacity: .5;

}

#scroll-debug {
  position: fixed;
  left: 3rem;
  top: 3rem;
  padding: .5rem 1.5rem;
  background: $dark;
  color: $white;
  z-index: 9000;
  text-align: center;
  max-width: 120px;


  box-shadow: 1px 2px 3px 1px rgba(0,0,0, .2);
  h3 {
    padding: 0;
    margin: 0;
    line-height: 1;
  }
}

//************* STYLES *************/
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/helpers";


//************* Mine *************/
@import "transitions";


#left-branch {
  position: absolute;
  top: 5%;
  left: 0;
  width: 40vw;
  height: 40vw;
  min-width: 500px;
  min-height: 500px;
  background: url(../assets/img/left-branch-blur.png) no-repeat left top;
  background-size: contain;
  z-index: $zindex-dropdown;
}

#right-branch {
  position: absolute;
  top: 20%;
  right: 0;
  width: 35vw;
  height: 35vw;
  min-width: 500px;
  min-height: 500px;
  background: url(../assets/img/right-branch.png) no-repeat right;
  background-size: contain;
  transition: transform .15s ease-out;
  z-index: $zindex-dropdown;
}

#flying-cards {
  width: 100%;
  height: 400px;
  background: url(../assets/img/cards-flying.png) no-repeat 100px bottom;
  background-size: contain;
}

#dark-block {
  padding: 5rem 0;
  background: url(../assets/img/flower-dark-01.png) no-repeat 20% center, linear-gradient(to bottom, $black, $gray-800);
  background-size: 600px;
  width: 100%;
}

#dark-background {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, $body-bg, $dark-blue 80%) bottom;
  width: 100%;
  height: 200vh;
  z-index: -1;
}


.half-moon-01 {
  padding: 3rem 14rem 3rem 3rem;

  background-image:
          url(../assets/img/moon-one.png),
          url(../assets/img/moon-two.png)
;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 97% 50%, 97% 52%;
}